body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

h1 {
    font-weight: normal;
}

img {
    border-radius: 50%;
    height: 100px;
    margin: 12px;
}

header {
    margin: 0 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#search {
    max-height: 35px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14, 13, 13, 0.6);
}

.modal {
    position: relative;
    margin: 50px auto auto;
    text-align: center;
    background-color: white;
    width: 400px;
    padding: 30px 15px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    background-color: white;
    border: none;
    font-weight: 400;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.2em;
}

p, h2 {
    margin-top: 7px;
    margin-bottom: 7px;
}

p {
    font-size: .85em;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
button {
    border-radius: 4px;
    background-color: white;
    padding-bottom: 5px;
}